In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx

# MeSH信息

In [3]:
df_mesh = pd.read_csv("E:\[Project]\Health\Mesh_clustering_plot\MeSH_2023.csv", index_col=0)
df_mesh

,UI,NAME,TREENUBER
0,D000001,Calcimycin,['D03.633.100.221.173']
1,D000002,Temefos,"['D02.705.400.625.800', 'D02.705.539.345.800',..."
2,D000003,Abattoirs,"['J01.576.423.200.700.100', 'J03.540.020']"
3,D000004,Abbreviations as Topic,['L01.559.598.400.556.131']
4,D000005,Abdomen,['A01.923.047']
...,...,...,...
30449,D066310,Digital Divide,['L01.143.230.500']
30450,D066328,Ventral Striatum,['A08.186.211.200.885.287.249.487.775']
30451,D066329,Protein Aggregates,['D05.875']
30452,D066330,"Printing, Three-Dimensional","['J01.897.564', 'L01.224.108.150.500', 'L01.29..."
30453,D066331,Laser-Evoked Potentials,"['G07.265.216.500.400.500', 'G11.561.200.500.4..."

In [4]:
df_mesh["TREENUBER Cnt"] = df_mesh["TREENUBER"].apply(lambda x:len(eval(x)))
df_mesh

,UI,NAME,TREENUBER,TREENUBER Cnt
0,D000001,Calcimycin,['D03.633.100.221.173'],1
1,D000002,Temefos,"['D02.705.400.625.800', 'D02.705.539.345.800',...",3
2,D000003,Abattoirs,"['J01.576.423.200.700.100', 'J03.540.020']",2
3,D000004,Abbreviations as Topic,['L01.559.598.400.556.131'],1
4,D000005,Abdomen,['A01.923.047'],1
...,...,...,...,...
30449,D066310,Digital Divide,['L01.143.230.500'],1
30450,D066328,Ventral Striatum,['A08.186.211.200.885.287.249.487.775'],1
30451,D066329,Protein Aggregates,['D05.875'],1
30452,D066330,"Printing, Three-Dimensional","['J01.897.564', 'L01.224.108.150.500', 'L01.29...",3
30453,D066331,Laser-Evoked Potentials,"['G07.265.216.500.400.500', 'G11.561.200.500.4...",2

In [5]:
# 拥有多于一个Tree Number的词
df_mesh[df_mesh["TREENUBER Cnt"] == 15]

,UI,NAME,TREENUBER,TREENUBER Cnt
10658,D007965,"Leukodystrophy, Globoid Cell","['C10.228.140.163.100.362.500', 'C10.228.140.1...",15
10659,D007966,"Leukodystrophy, Metachromatic","['C10.228.140.163.100.362.550', 'C10.228.140.1...",15
16864,D014424,Turner Syndrome,"['C12.050.351.875.253.309.872', 'C12.050.351.8...",15

In [6]:
# 使用最长公共前缀判断共祖
def common_parent_node(tree_numbers: list) -> int: 
    ans = ''	# 定义空字符串，准备用来存放最长公共子串
    for i in zip(*tree_numbers):
        if len(set(i)) == 1:	
            ans += i[0]
        else:
            break
    return len(ans)

df_mesh["TREENUBER Common"] = df_mesh["TREENUBER"].apply(lambda x:common_parent_node(eval(x)))
df_mesh

,UI,NAME,TREENUBER,TREENUBER Cnt,TREENUBER Common
0,D000001,Calcimycin,['D03.633.100.221.173'],1,19
1,D000002,Temefos,"['D02.705.400.625.800', 'D02.705.539.345.800',...",3,4
2,D000003,Abattoirs,"['J01.576.423.200.700.100', 'J03.540.020']",2,2
3,D000004,Abbreviations as Topic,['L01.559.598.400.556.131'],1,23
4,D000005,Abdomen,['A01.923.047'],1,11
...,...,...,...,...,...
30449,D066310,Digital Divide,['L01.143.230.500'],1,15
30450,D066328,Ventral Striatum,['A08.186.211.200.885.287.249.487.775'],1,35
30451,D066329,Protein Aggregates,['D05.875'],1,7
30452,D066330,"Printing, Three-Dimensional","['J01.897.564', 'L01.224.108.150.500', 'L01.29...",3,0
30453,D066331,Laser-Evoked Potentials,"['G07.265.216.500.400.500', 'G11.561.200.500.4...",2,1

In [7]:
df_mesh["TREENUBER Cnt"].value_counts()

TREENUBER Cnt
1     14451
2      7806
3      4172
4      2016
5       907
6       555
7       243
8       127
9        74
10       45
11       18
12       16
13        7
14        6
16        4
15        3
0         2
17        1
24        1
Name: count, dtype: int64

In [8]:
# df_mesh.to_csv("../Mesh_info.csv", index=False)

In [12]:
df_mesh = pd.read_csv("../Mesh_info.csv", index_col=0)
df_mesh

,NAME,TREENUBER,TREENUBER Cnt,TREENUBER Common
UI,,,,
D000001,Calcimycin,['D03.633.100.221.173'],1,19
D000002,Temefos,"['D02.705.400.625.800', 'D02.705.539.345.800',...",3,4
D000003,Abattoirs,"['J01.576.423.200.700.100', 'J03.540.020']",2,2
D000004,Abbreviations as Topic,['L01.559.598.400.556.131'],1,23
D000005,Abdomen,['A01.923.047'],1,11
...,...,...,...,...
D066310,Digital Divide,['L01.143.230.500'],1,15
D066328,Ventral Striatum,['A08.186.211.200.885.287.249.487.775'],1,35
D066329,Protein Aggregates,['D05.875'],1,7
D066330,"Printing, Three-Dimensional","['J01.897.564', 'L01.224.108.150.500', 'L01.29...",3,0
D066331,Laser-Evoked Potentials,"['G07.265.216.500.400.500', 'G11.561.200.500.4...",2,1

In [15]:
eval(df_mesh.loc["D000001"]["TREENUBER"])

['D03.633.100.221.173']